* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {

	font-family: 'dosis', sans-serif;
}
#container {
	display: none;
}
h1 {
	padding: 10px;
}
.sessionlist {
	padding: 0;
	margin: 0;
	list-style-type: none;
}
.sessionitem {
	box-shadow: 1px 1px 2px rgba(50, 50, 50, 0.55);
	padding: 8px;
	border: 0px solid #d9d9d9;
	margin-bottom: 3px;

}
.selected{
	background-color: #EEEEFC;
}
.sessioninfo { 
	position: relative;
}
.sessionhead {
	position:relative;
	height: 58px;
	margin-right: 120px;
	width:100%;
}

.date {
	padding: 5px;
	position:absolute;
	right: 8px;
	top: 8px;
	height: 42px;
	color: white;

}
.oclock8, .oclock12, .oclock16, .oclock20 {
	background-color: #AA3753;
}
.oclock9, .oclock13, .oclock17 {
	background-color: #3A3682;
}
.oclock10, .oclock14, .oclock18 {
	background-color: #BA9D3C;
}
.oclock11, .oclock15, .oclock19 {
	background-color: #60A435;
}
.clock {
	font-family: 'm-1m', monospace;
	font-size: .9em;
	display: inline-block;
	margin-left: 5px;
}
.weekday {
	font-family: 'm-1m', monospace;
	font-weight: bold;
	font-size: 2em;
	float: left;
}
.sessiondescription {
	min-height: 25px;
	padding-bottom: 30px;
}
.save {
	font-weight: bold;
	position: relative;
	right: 10px;
	float:right;
	background-color: black;
	color: white;
	padding: 4px;
	width: 82px;
	height: 30px;
	margin: auto;
	text-align: center;
	vertical-align: middle;
}
.exp {
	display: block;
}

.title {
	font-weight: bold;
}

@media only screen and (min-width: 960px){
	body{
		width: 700px;
		margin-left: auto; 
		margin-right: auto;
	}
}