* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {

	font-family: 'dosis', sans-serif;
}
#container {
	display: none;
}
h1 {
	padding: 5px;
	font-size: 1.6em;
}
.sessionlist {
	padding: 0;
	margin: 0;
	list-style-type: none;
}
.sessionitem {
	box-shadow: 1px 1px 2px rgba(50, 50, 50, 0.55);
	padding: 5px;
	border: 0px solid #d9d9d9;
	margin-bottom: 3px;
}
.selected{
	border: 0px solid #8A1608;
	box-shadow: 2px 2px 3px rgba(50, 50, 50, 0.75);
	background-color: #EEEEEE;
}
.sessioninfo { 
	position: relative;
	top: 3px;
}
.sessionhead {
	position:relative;
	min-height: 48px;
	margin-right: 120px;
	width:100%;
}

.date {
	padding: 2px;
	padding-top: 5px;
	position:relative;
	float:right;
	width:78px;
	right: 0px;
	top: 3px;
	height: 42px;
	color: white;
}
.oclock8, .oclock12, .oclock16, .oclock20 {
	background-color: #AA3753;
}
.oclock9, .oclock13, .oclock17 {
	background-color: #3A3682;
}
.oclock10, .oclock14, .oclock18 {
	background-color: #BA9D3C;
}
.oclock11, .oclock15, .oclock19 {
	background-color: #60A435;
}
.day7, .day11 {
	background-color: #AA3753;
}
.day8, .day12 {
	background-color: #3A3682;
}
.day9, .day13 {
	background-color: #BA9D3C;
}
.day10, .day14 {
	background-color: #60A435;
}
.clock {
	font-family: 'm-1m', monospace;
	font-size: .9em;
	display: inline-block;
	margin-left: 5px;
}
.weekday {
	font-family: 'm-1m', monospace;
	font-weight: bold;
	font-size: 2em;
	float: left;
	padding-left: 2px;
}
.sessiondescription {
	min-height: 25px;
	padding-bottom: 30px;
}
.contacts {
	margin-top: 0px;
	margin-bottom: 8px;
}
.save {
	font-weight: bold;
	position: relative;
	right: 0px;
	float:right;
	color: white;
	padding: 4px;
	width: 78px;
	height: 30px;
	margin: auto;
	text-align: center;
	vertical-align: middle;
}
.saved {
	background-color: #8A1608;
}
.notsaved {
	background-color: #0D0201; 
}
.exp {
	display: block;
}

.title {
	font-weight: bold;
}

@media only screen and (min-width: 786px){
	body{
		width: 700px;
		margin-left: auto; 
		margin-right: auto;
	}
}